# touch /etc/systemd/system/multi-user.target.wants/co2.service
# chmod 644 /etc/systemd/system/multi-user.target.wants/co2.service
# systemctl enable co2meter
# systemctl start co2meter
[Unit]
Description=c02meter

[Service]
Type=simple
Environment=HID=/dev/hidraw3
Environment=DATADOG_TOKEN=myddtoken
ExecStart=/bin/bash -c 'python /home/pi/slab_ht2000/main.py'

[Install]
WantedBy=multi-user.target