# touch /etc/systemd/system/multi-user.target.wants/co2.service
# chmod 644 /etc/systemd/system/multi-user.target.wants/co2.service
# systemctl enable co2meter
# systemctl start co2meter
[Unit]
Description=c02

[Service]
Type=simple
Environment="HID=/dev/hidraw3"
Environment="DATADOG_TOKEN=myddtoken"
WorkingDirectory=/home/pi/slab_ht2000
ExecStart=/usr/bin/python /home/pi/slab_ht2000/main.py

[Install]
WantedBy=multi-user.target